<div class="panel panel-default">
<div class="panel-body">
<h4>Augments</h4>
<h6>
    <input type="checkbox" name="augment" value="1"> Ammo Reach<br>
    <input type="checkbox" name="augment" value="2"> Big Ears<br>
    <input type="checkbox" name="augment" value="3"> Bigger Blast<br>
    <input type="checkbox" name="augment" value="4"> Bomb Squad<br>
    <input type="checkbox" name="augment" value="5"> Chopper<br>
    <input type="checkbox" name="augment" value="6"> Cool<br>
    <input type="checkbox" name="augment" value="7"> Double Time<br>
    <input type="checkbox" name="augment" value="8"> Drilled<br>
    <input type="checkbox" name="augment" value="9"> Enigma<br>
    <input type="checkbox" name="augment" value="10"> Explodydendron<br>
    <input type="checkbox" name="augment" value="11"> Extra Ammo<br>
    <input type="checkbox" name="augment" value="12"> Extra Supplies<br>
    <input type="checkbox" name="augment" value="13"> Extender<br>
    <input type="checkbox" name="augment" value="14"> Fail Safe<br>
    <input type="checkbox" name="augment" value="15"> Flying Pig<br>
    <input type="checkbox" name="augment" value="16"> Focus<br>
    <input type="checkbox" name="augment" value="17"> Get up<br>
    <input type="checkbox" name="augment" value="18"> Guardian Angel<br>
    <input type="checkbox" name="augment" value="19"> Healing Reach<br>
    <input type="checkbox" name="augment" value="20"> Ice Cold<br>
    <input type="checkbox" name="augment" value="21"> Lock on<br>
    <input type="checkbox" name="augment" value="22"> Looter<br>
    <input type="checkbox" name="augment" value="23"> Mechanic<br>
    <input type="checkbox" name="augment" value="24"> Nitros<br>
    <input type="checkbox" name="augment" value="25"> Pineapple Juggler<br>
    <input type="checkbox" name="augment" value="26"> Potent Packs<br>
    <input type="checkbox" name="augment" value="27"> Quick Draw<br>
    <input type="checkbox" name="augment" value="28"> Quick Charge<br>
    <input type="checkbox" name="augment" value="29"> Quick Eye<br>
    <input type="checkbox" name="augment" value="30"> Quick Slash<br>
    <input type="checkbox" name="augment" value="31"> Recharge<br>
    <input type="checkbox" name="augment" value="32"> Sneaky<br>
    <input type="checkbox" name="augment" value="33"> Spares<br>
    <input type="checkbox" name="augment" value="34"> Spotter<br>
    <input type="checkbox" name="augment" value="35"> Springy<br>
    <input type="checkbox" name="augment" value="36"> Steady<br>
    <input type="checkbox" name="augment" value="37"> Tough<br>
    <input type="checkbox" name="augment" value="38"> Try Hard<br>
    <input type="checkbox" name="augment" value="39"> Undercover<br>
    <input type="checkbox" name="augment" value="40"> Unshakeable<br>
    <input type="checkbox" name="augment" value="41"> Untrackable<br>
    </h6>
</div>
</div>