<div class="panel panel-default">
<div class="panel-body">
    <h4>Generation</h4>
    <h6>
    <input type="radio" name="gen" value="any" checked="checked"> Any<br>
    <input type="radio" name="gen" value="1"> Generation 1<br>
    <input type="radio" name="gen" value="2"> Generation 2
    </h6>
</div></div>