<div class="panel panel-default">
<div class="panel-body">
    <h4>Melee</h4>
    <h6>
    <input type="radio" name="melee" value="any" checked="checked"> Any<br>
    <input type="radio" name="melee" value="1"> Beckhill Combat Knife<br>
    <input type="radio" name="melee" value="2"> Stilnotto Stiletto<br>
    <input type="radio" name="melee" value="3"> Cricket Bat<br> 
    <input type="radio" name="melee" value="4"> Katana<br>
    <input type="radio" name="melee" value="5"> Kukri<br>
    <input type="radio" name="melee" value="6"> Tactical Combat Axe<br>
    <input type="radio" name="melee" value="99"> Stun Batons<br>
    <input type="radio" name="melee" value="7"> Ulu
    </h6>
</div>
</div>