<div class="panel panel-default">
<div class="panel-body">
  <h4>Primary</h4>
  <h6>
  <input type="radio" name="primary" value="any" checked="checked"> Any<br>
  <input type="radio" name="primary" value="HU"> Hurtsall 2K<br>
  <input type="radio" name="primary" value="M"> M4A1<br>
  <input type="radio" name="primary" value="SH"> SHAR-C<br>
  <input type="radio" name="primary" value="T"> Timik-47<br>
  <br>
  <input type="radio" name="primary" value="K"> K-121<br>
  <input type="radio" name="primary" value="MA"> MK46<br>
  <br>
  <input type="radio" name="primary" value="B"> BR-16<br>
  <input type="radio" name="primary" value="S"> Stark AR<br>
  <br>
  <input type="radio" name="primary" value="BL"> Blishlok<br>
  <input type="radio" name="primary" value="CR"> Crotzni<br>
  <input type="radio" name="primary" value="KE"> Hochfir<br>
  <input type="radio" name="primary" value="C"> KEK-10<br>
  <input type="radio" name="primary" value="SM"> SMG-9<br>
  <br>
  <input type="radio" name="primary" value="A"> Ahnuhld-12<br>
  <input type="radio" name="primary" value="H"> Hollunds 880<br>
  <input type="radio" name="primary" value="R"> Remburg 7<br>
  <br>
  <input type="radio" name="primary" value="D"> Dreiss AR<br>
  <input type="radio" name="primary" value="G"> Grandeur SR<br>
  <input type="radio" name="primary" value="P"> PDP-70<br>
  <input type="radio" name="primary" value="F"> Fel-ix<br>
  <input type="radio" name="primary" value="MO"> MOA SNPR-1<br>
  <br>
  <input type="radio" name="primary" value="1"> MP400<br>
  <input type="radio" name="primary" value="2"> Tolen MP<br>
  <input type="radio" name="primary" value="3"> Empire-9<br>
  <input type="radio" name="primary" value="4"> Ryburn MP<br>
  </h6>
  </div></div>