<div class="panel panel-default">
<div class="panel-body">
    <h4>Secondary</h4>
    <h6>
    <input type="radio" name="secondary" value="any" checked="checked"> Any<br>
    <input type="radio" name="secondary" value="1"> MP400<br>
    <input type="radio" name="secondary" value="2"> Tolen MP<br>
    <input type="radio" name="secondary" value="3"> Empire-9<br>
    <input type="radio" name="secondary" value="99"> Ryburn MP<br>
    <br>
    <input type="radio" name="secondary" value="4"> M9<br>
    <input type="radio" name="secondary" value="5"> DE .50<br>
    <input type="radio" name="secondary" value="6"> Simeon .357<br>
    <input type="radio" name="secondary" value="7"> Caulden<br>
    <input type="radio" name="secondary" value="8"> Selbstadt .40<br>
    <input type="radio" name="secondary" value="9"> Smjüth & Whetsman .40<br>
    <input type="radio" name="secondary" value="10"> Hoigat .224<br>
    <input type="radio" name="secondary" value="11"> Arevarov 9<br>
    </h6>
</div></div>